canvas {
  position: fixed;
  height: 100%;
  width: 100%;

} /* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}
html {
  margin: 0em 5%;
}
.container {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  background: transparent;
  color: black;
  line-height: 150%;
}
.nav {
  font-size: 1.25vw;
  display: flex;
  color: #FF004E;
  justify-content: flex-end;
  padding: 0em;
  border: 0em;
  margin: 2% -2.3em;

}
.nav a {
  color: black;
  justify-content: right;
  display: inline-flex;
  padding: 0em;
  border: 0em;
  margin: 0em 2.3em;
  text-decoration: none;
  transition: 0.3s;
}
.nav a:hover {
  color: #89B5DA;
  cursor: pointer;
}

hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  margin-bottom: 0.5em;
  padding: 0;
}

body {
}
h1, h2{
  font-weight: 250;
}
h1 {
  font-size: 4em;
  margin-bottom: 15%;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.2em;
  margin: 0 0;
}
h4 {
  margin: 0 0;
}

center {
  margin-bottom: 0.7em;
}
.main-content {
  margin: 0 7%;
}
.button {
  background-color: #148f9f;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  opacity: .8;
}
.title {
  font-size: 1.75vw;
}

.profile-text {
  font-size: 1.25vw;
  line-height: 1.5;
}
.column {
  float: right;
  width: 33.33%;
}
.column-small {
  float: right;
  width: 30%;
}
.column-text {
  float: left;
  width: 66%;
}
.column-text2 {
  float: left;
  width: 45%;
}
.column-profilepic2 {
  float: right;
  width: 50%;
}
.column-text-wide {
  float: left;
  width: 70%;
}
.column-titletext {
  float: right;
  width: 40%;
}
.column-frontpic {
  float: left;
  width: 50%;
}
.column-gallery {
  float: left;
  width: 25%;
}
.column-gallery1 {
  float: left;
  width: 25%;
  margin: 0 37.5%;
}
.column-gallery2 {
  float: left;
  margin: 0 12.5%;
  width: 25%;
}
.column-gallery2long {
  float: left;
  margin: 0 0%;
  width: 50%;
}
.column-galleryfull {
  float: left;
  margin: 0 10%;
  width: 80%;
}
.column-gallery3 {
  float: left;
  margin: 0 6.6%;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 2%;

}
.contain {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 90%;
  opacity: 0;
  transition: .25s ease;
  background-color: white;
}
.contain:hover .overlay {
  opacity: 0.9;
}
.text {
  color: black;
  font-size: 1.2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-column {
  float: left;
  width: 5%;
  padding-right: 5%;
}
.contact-link:hover {
  opacity: 0.5;
}
.contact-link {
  width: 100%;
}

}
