canvas {
  position: fixed;
  height: 100%;
  width: 100%;

}
 /* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}
html {
  margin: 0em 5%;
  font-family: 'Raleway', 'Lato', 'Source Sans Pro', 'Gill Sans MT', 'Helvetica', sans-serif;
  font-size: 1.05vw;
  font-weight: 400;
  background: transparent;
  color: black;
  line-height: 160%;
}
.container {
  /* font-family: 'Raleway', sans-serif;
  font-size: 1.05vw;
  font-weight: 400;
  background: transparent;
  color: black;
  line-height: 160%; */
}
.card:before {
  content:'';
  position: absolute;
  border-radius: 30px;
  width: 90%;
  height: inherit;
  margin: 0 5%;
  z-index: -1;
  left:0px;
  background-color: white;
  opacity: 1;
}
#h1 { height: 12vw; }
#h2 { height: 45vw; }

.top-tarsier:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 5vw;
  margin: -1.8% 0;
  z-index: -1;
  left:0px;
  background-image: linear-gradient(#9BAAD1, white);
  opacity: 0.5;
}
.top-ARTrek:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 5vw;
  margin: -1.8% 0;
  z-index: -1;
  left:0px;
  background-image: linear-gradient(#8EE2A6, white);
  opacity: 0.5;
}

.top-crowd:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 5vw;
  margin: -1.8% 0;
  z-index: -1;
  left:0px;
  background-image: linear-gradient(#710000, white);
  opacity: 0.5;
}
.top-contact:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 5vw;
  margin: -1.8% 0;
  z-index: -1;
  left:0px;
  background-image: linear-gradient(#90DCF3, white);
  opacity: 0.5;
}
.top-lending:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 5vw;
  margin: -1.8% 0;
  z-index: -1;
  left:0px;
  background-image: linear-gradient(#6D8C8E, white);
  opacity: 0.5;
}
.top-spot:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 5vw;
  margin: -1.8% 0;
  z-index: -1;
  left:0px;
  background-image: linear-gradient(#6B7191, white);
  opacity: 0.5;
}
.top-tree:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 5vw;
  margin: -1.8% 0;
  z-index: -1;
  left:0px;
  background-image: linear-gradient(#326B45, white);
  opacity: 0.5;
}



.nav {
  font-size: 1.25vw;
  display: flex;
  color: #FF004E;
  justify-content: flex-end;
  padding: 0em;
  border: 0em;
  margin: 2% -2.3em;
}
.nav a {
  color: black;
  justify-content: right;
  display: inline-flex;
  padding: 0em;
  border: 0em;
  margin: 0em 2.3em;
  text-decoration: none;
  transition: 0.3s;
}
.nav a:hover {
  color: #89B5DA;
  cursor: pointer;
}

hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  margin-bottom: 0.5em;
  padding: 0;
}

h1, h2{
  font-weight: 260;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0 0;
}
h4 {
  font-weight: 500;
  font-size: 1.6em;
  margin: 0 0;
  line-height: 165%;
}
h5 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0 0;
}
h6 {
  font-weight: 700;
  font-size: 1.3em;
  margin: -1% 0;
}

center {
  margin-bottom: 0.7em;
}
hr {
  width: 15%;
}
.main-content {
  margin: 0 7%;
}
.button {
  background-color: white;
  border: .1vw solid black;
  color: black;
  border-radius: 5px;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  font-weight: 500;
}
.button:hover {
  font-size: 1.2vw;
}

.column-full {
  float: left;
  width: 100%;
  margin-left: 1%;
}
.column-center {
  float: left;
  width: 85%;
  margin-left: 9%;
}
.column-third {
  float: left;
  text-align: center;
  width: 31%;
  margin-left: 2%;
}
.column-thirdL {
  float: left;
  text-align: left;
  width: 31%;
  margin-right: 2.33%;
}
.grid {
  float: left;
  width: 33.33%;
}
.contain {
  position: relative;
  width: 100%;
}
.profile-text {
  font-size: 1.25vw;
  line-height: 1.5;
}
.left-third {
  float: left;
  width: 33.3%;
}
.right-two-third {
  float: right;
  width: 65%;
}
.left-half {
  float: left;
  width: 50%;
}
.right-half {
  float: right;
  width: 50%;
}
.left-half1 {
  float: left;
  width: 47%;
}
.right-half1 {
  float: right;
  width: 47%;
}
.text-left {
  float: left;
  width: 65%;
}
.image-right {
  float: right;
  width: 35%;
}
.text-left-45 {
  float: left;
  width: 45%;
}
.image-right-50 {
  float: right;
  width: 50%;
}
.column-4 {
  float: left;
  width: 21%;
  padding-right: 4%;
}
.column-5 {
  float: left;
  width: 18.5%;
  padding-right: 1.5%;
}

.column-L45 {
  float: left;
  width: 45%;
}
.column-profilepic2 {
  float: right;
  width: 50%;
}

.column-titletext {
  float: right;
  width: 40%;
}
.column-frontpic {
  float: left;
  width: 50%;
}

.column-gallery3 {
  float: left;
  margin-right: 10%;
  width: 23%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 2%;

}

.indent {
  margin-left: 2%;
}
.indent-large {
  margin-left: 11%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 90%;
  opacity: 0;
  transition: .25s ease;
  background-color: white;
}
.contain:hover .overlay {
  opacity: 0.9;
}
.text {
  color: black;
  font-size: 1.2vw;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-column {
  float: left;
  width: 5%;
  padding-right: 5%;
}
.contact-link:hover {
  opacity: 0.5;
}
.contact-link {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  height: 140%;
  margin-bottom: 2%;
}
.flex-container2 > div00 {
  /* yellow */
  background-color:	#FFDC10;
  width: 100%;
  margin: 5px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
.flex-container2 > div2 {
  width: 10%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
.flex-container2 > div4 {
  width: 10%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}

.flex-container {
  display: flex;
  justify-content: center;
  height: 140%;
  margin: 0 10%;
  margin-bottom: 2%;
}

.flex-container > div0 {
  /* yellow */
  background-color:	#FFDC10;
  width: 40%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}

.flex-container > div1 {
  /* blue */
  background-color:	#00B5EC;
  width: 40%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
.flex-container > div2 {
  width: 15%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
.flex-container > div3 {
  /* teal */
  background-color:#1CB1AD;
  width: 40%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
.flex-container > div4 {
  width: 15%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
.flex-container > div5 {
  /* light blue */
  background-color:		#C9DBCD;
  width: 40%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
.flex-container > div6 {
  /* orange */
  background-color:	#FEA444;
  width: 32%;
  margin: 10px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2vw;
  font-weight: 500;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
}

#myBtn:hover {
  color: #89B5DA;
}
.sign {
  font-weight: 250;
  font-size: 1em;
  margin-bottom: -1%;
}
.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
.fade-in2 {
  animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}
.fade-in3 {
  animation: fadeIn ease 5.5s;
  -webkit-animation: fadeIn ease 5.5s;
  -moz-animation: fadeIn ease 5.5s;
  -o-animation: fadeIn ease 5.5s;
  -ms-animation: fadeIn ease 5.5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeIn3{
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn3 {
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn3 {
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn3 {
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn3 {
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
